{% if page.comments %}
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'bustle-c'; // <--- use Disqus shortname
        var disqus_identifier = '{{ page.url }}';
        var disqus_url = 'https://bustlec.github.io/{{ page.url }}';

        (function() {
            var _script = document.createElement('script');
            _script.type = 'text/javascript';
            _script.async = true;
            _script.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            _script.setAttribute('data-timestamp', +new Date());
            (document.head || document.body).appendChild(_script);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endif %}